<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<th:block th:fragment="menu">

		<!--<section id="topbar" class="d-flex align-items-center fixed-top topbar-transparent">
			<div
				class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
				<i class="bi bi-phone d-flex align-items-center"><span>+1 5589 55488 55</span></i>

			</div>
		</section>
-->
		<!-- ======= Header ======= -->
		<header id="header" class="fixed-top d-flex align-items-center ">
			<div class="container-fluid container-xl d-flex align-items-center justify-content-between">

				<div class="logo me-auto">
					<h1><a href="index.html">Delicious</a></h1>
					<!-- Uncomment below if you prefer to use an image logo -->
					<!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
				</div>

				<nav id="navbar" class="navbar order-last order-lg-0">
					<ul>
						<li><a class="nav-link scrollto" th:href="@{/home/}">Home</a></li>
						<li><a class="nav-link scrollto" th:href="@{/home/add-restaurant}">New Restaurant</a></li>
						<!--<li><a class="nav-link scrollto" href="#menu">Menu</a></li>
						<li><a class="nav-link scrollto" href="#specials">Specials</a></li>
						<li><a class="nav-link scrollto" href="#events">Events</a></li>
						<li><a class="nav-link scrollto" href="#chefs">Chefs</a></li>
						<li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
						
						<li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
					</ul>
					<i class="bi bi-list mobile-nav-toggle"></i>
				</nav><!-- .navbar -->

				<!--<a href="#book-a-table" class="book-a-table-btn scrollto">Book a table</a>
-->
			</div>
		</header><!-- End Header -->

	</th:block>
</body>

</html>