<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:include="fragments/header.html :: head"></th:block>
</head>

<body class="about-us">
	<!-- Navbar Transparent -->
	<th:block th:include="fragments/homeMenu.html :: menu"></th:block>


	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="hero-container">
			<div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

				<!--<ol class="carousel-indicators" id="hero-carousel-indicators"></ol>-->

				<div class="carousel-inner" role="listbox">

					<!-- Slide 1 -->
					<div class="carousel-item active"
						th:style="'background-image: url('+@{/assets/img/slide/slide-1.jpg}+');'">
						<div class="carousel-container">
							<div class="carousel-content">
								<h2 class="animate__animated animate__fadeInDown">
									<span>Delicious</span> Restaurant
								</h2>
								<div>
									<a href="#why-us" class="btn-menu animate__animated animate__fadeInUp scrollto">Our
										Restaurants</a>
								</div>
							</div>
						</div>
					</div>



				</div>

				<!--	<a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev"> <span
						class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
				</a> <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next"> <span
						class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
				</a>
-->
			</div>
		</div>
	</section>
	<!-- End Hero -->

	<main id="main">

		<section id="why-us" class="why-us">
			<div class="container">

				<div class="section-title">
					<h2>
						<span>Our Restaurants</span>
					</h2>
					<!--<p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis
						est adipisci expedita at voluptas atque vitae autem.</p>-->
				</div>

				<div class="row">

					<div class="col-lg-4" th:each="restaurant:${restaurants}"
						th:classappend="${restaurantStat.index>0} ? 'mt-4 mt-lg-0' : ''">
						<div class="box">
							<h4 th:text="${restaurant.name}"></h4>
							<p th:text="${restaurant.address}"></p>
							<span class="mt-2 bg-secondary btn-sm btn"><a th:href="@{'/home/menu-list?restaurantId='+${restaurant.restaurantId}}"
									>View
									Menu</a></span>
						</div>
					</div>

				</div>
			</div>
		</section>



	</main>
	<th:block th:include="fragments/footer.html :: footer"></th:block>
	<input type="hidden" th:name="message" th:value="${message}" id="message">
	<div th:insert="fragments/script :: scripts"></div>
	<script>
		$(document).ready(function () {

			var message = $('#message').val();
			if (message != "") {
				alert(message);
			}
		});
	</script>
</body>

</html>