<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:include="fragments/header.html :: head"></th:block>
</head>

<body class="about-us">
	<!-- Navbar Transparent -->
	<th:block th:include="fragments/homeMenu.html :: menu"></th:block>

	<main id="main">

		<!-- ======= Menu Section ======= -->
		<section id="menu" class="menu mt-5">
			<div class="container">

				<div class="row">

					<div class="col-lg-12  mt-5">
						<div class="card">
							<div class="card-header bg-warning">
								<h4 class="font-weight-bolder text-white">Restaurants</h4>
							</div>
							<div class="card-body">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Name</th>
											<th>Address</th>
											<th>Phone</th>
											<th>Menu</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="restaurant:${restaurants}">
											<td th:text="${restaurant.name}"></td>
											<td th:text="${restaurant.address}"></td>
											<td th:text="${restaurant.phone}"></td>
											<td><a class="btn btn-sm btn-warning"
													th:href="@{'/home/add-menu?restaurantId='+${restaurant.restaurantId}}">Add
													Menu</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Menu Section -->

	</main>
	<!-- End #main -->

	<input type="hidden" th:name="message" th:value="${message}" id="message">
	<div th:insert="fragments/script :: scripts"></div>
	<script>
		$(document).ready(function () {

			var message = $('#message').val();
			if (message != "") {
				alert(message);
			}
		});
	</script>
</body>

</html>